@font-face{
    font-family:brandon-medium;
    src:url(font/brandon-medium.woff2) format("woff2"),
    url(font/brandon-medium.woff) format("woff");
    font-weight:400;
    font-style:normal;
    font-display:swap}

/* -------- NAV-----------*/

body{
    font-family: brandon-medium;
}
.main-nav{
    /* padding: 0 18px; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border: 1px solid blue;
    
}

.top-menu{
    display: flex;
    justify-content: flex-end;

    font-size: 16px;
    text-transform: uppercase
}

.top-menu li{
    display: inline-flex; 
    margin:0 10px;
}